{% extends "base.html"%}
{% load static %}

{% block title %}All Users{% endblock %}

{% block css_files%}
    <link rel = "stylesheet" href = "{% static "blog/all-users.css"%}"/>
{% endblock %}

{% block content %}
    <section class="users">
        <h2>All Users</h2>
        <ul>
            {% for user1 in users %}
                <header class = "profilepic">
                {% if user1.profilepic %}
                    <img src="{{ user1.profilepic.profile_pic.url }}" alt="{{user.username}}"/>
                {% else %}
                    <img src = "{% static "blog/images/Somnath-temple.webp"%}" alt = "Somnath temple"/>
                {% endif %}
                <a href = "{% url "user-page" user1.username%}"><li>{{user1.username}}</li><a/>
                </header>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
